.main-timeline-geo {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 60px 0;
}
.main-timeline-geo:before {
  content: '';
  width: 1px;
  height: 100%;
  background: #cfcdcd;
  position: absolute;
  top: 0;
  left: 50%;
}
.main-timeline-geo .timeline-geo {
  display: block;
  width: 50%;
  clear: both;
  position: relative;
}
.main-timeline-geo .timeline-geo:before,
.main-timeline-geo .timeline-geo:after {
  content: '';
  display: block;
  clear: both;
}
.main-timeline-geo .timeline-geo:first-child:before,
.main-timeline-geo .timeline-geo:last-child:before {
  content: '';
  width: 11px;
  height: 11px;
  background: #cfcdcd;
  box-sizing: content-box;
  border: 5px solid #fff;
  box-shadow: 0 0 0 2px #cfcdcd;
  position: absolute;
  top: -54px;
  right: -11px;
  transform: rotate(45deg);
}
.main-timeline-geo .timeline-geo:last-child:before {
  top: auto;
  bottom: -54px;
}
.main-timeline-geo .timeline-geo:last-child:nth-child(even):before {
  right: auto;
  left: -11px;
}
.main-timeline-geo .timeline-geo-icon {
  width: 24px;
  height: 24px;
  background: #fff;
  border: 1px solid #cfcdcd;
  position: absolute;
  top: 17px;
  right: -13px;
  z-index: 1;
  transform: rotate(45deg);
}
.main-timeline-geo .timeline-geo-icon:before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.2s ease 0s;
}
.main-timeline-geo .timeline-geo:hover .timeline-geo-icon:before {
  background: #39b3ff;
}
.main-timeline-geo .timeline-geo-content {
  width: 85%;
  padding: 18px 30px;
  text-align: right;
  float: left;
  border: 1px solid transparent;
  position: relative;
  transition: all 0.3s ease 0s;
}
.main-timeline-geo .timeline-geo:hover .timeline-geo-content {
  border: 1px solid #cfcdcd;
}
.main-timeline-geo .timeline-geo-content:before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background: #fff;
  border: 1px solid #cfcdcd;
  position: absolute;
  top: 21px;
  right: -7.3px;
  transform: rotate(45deg);
  transition: all 0.2s ease 0s;
}
.main-timeline-geo .timeline-geo:hover .timeline-geo-content:before {
  background: #39b3ff;
  border-color: #39b3ff;
}
.main-timeline-geo .timeline-geo-content:after {
  content: '';
  width: 11%;
  height: 1px;
  background: #cfcdcd;
  position: absolute;
  top: 28px;
  right: -14%;
}
.main-timeline-geo .date {
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #39b3ff;
  margin: 0 0 8px;
  transition: all 0.3s ease 0s;
}
.main-timeline-geo .timeline-geo:hover .date {
  color: #444;
}
.main-timeline-geo .title {
  font-size: 18px;
  color: #444;
  margin-top: 0;
  transition: all 0.3s ease 0s;
}
.main-timeline-geo .timeline-geo:hover .title {
  color: #39b3ff;
}
.main-timeline-geo .description {
  font-size: 16px;
  color: #777;
  line-height: 28px;
  margin-top: 8px;
}
.main-timeline-geo .timeline-geo:nth-child(2n),
.main-timeline-geo .timeline-geo:nth-child(2n) .timeline-geo-content {
  float: right;
  text-align: left;
}
.main-timeline-geo .timeline-geo:nth-child(2n) .timeline-geo-icon {
  right: 0;
  left: -12px;
}
.main-timeline-geo .timeline-geo:nth-child(2n) .timeline-geo-content:before {
  left: -7.3px;
}
.main-timeline-geo .timeline-geo:nth-child(2n) .timeline-geo-content:after {
  left: -14%;
}
@media only screen and (max-width: 767px) {
  .main-timeline-geo {
    padding-left: 20px;
  }
  .main-timeline-geo:before {
    left: 20px;
  }
  .main-timeline-geo .timeline-geo {
    width: 100%;
  }
  .main-timeline-geo .timeline-geo,
  .main-timeline-geo .timeline-geo-content {
    float: right;
    text-align: left;
  }
  .main-timeline-geo .timeline-geo:first-child:before,
  .main-timeline-geo .timeline-geo:last-child:nth-child(odd):before {
    right: auto;
    left: -11px;
  }
  .main-timeline-geo .timeline-geo-icon {
    right: 0;
    left: -12px;
  }
  .main-timeline-geo .timeline-geo-content:before {
    left: -7.3px;
  }
  .main-timeline-geo .timeline-geo-content:after {
    left: -14%;
  }
}
