//Here you can customize bootstrap
$primary: #448aff;
$primary-light: #2196f3;
$secondary: #f44336;
$secondary-light: #e86442;

$shadow: rgba(0, 0, 0, 0.5);
$max-width: 1024px;

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "/static/fonts/redblue-embed.css";

:root {
  --bs-body-font-size: 16px;
  --bs-body-line-height: 1.618em;
}

html,
body {
  min-height: 100vh;
}

.slogan {
  font-family: "redblue", var(--bs-body-font-family);
}

a {
  color: $primary;
  transition: all 0.3s;
  &:hover {
    color: $secondary;
  }
}

.text-new {
  color: $primary;
  transition: all 0.3s;
  &:hover {
    color: $secondary;
  }
}

.container-lg {
  max-width: $max-width;
}

.header {
  //   width: 100%;
  height: auto;
  color: #fff;
  filter: drop-shadow(0 0 10px $shadow);
  margin-bottom: 1rem;
  z-index: 1;
  &__wrapper {
    background: linear-gradient(to bottom, $primary, $primary-light, $primary);

    &__content {
      margin: 0 auto;
      padding: 5rem 0 1rem;
      overflow: hidden;
      @include media-breakpoint-down(xl) {
        padding: 5rem 2rem 1rem;
      }
      &__title {
        margin-bottom: 0.382em;
        &--art {
          font-family: "redblue", var(--bs-body-font-family);
        }
        font-size: 6em;
        // background-clip: text;
        // -webkit-text-fill-color: transparent;
        // background-image: linear-gradient(
        //   to right top,
        //   #92fe9d 0%,
        //   #fff 50%,
        //   #92fe9d 100%
        // );

        transition: all 0.68s;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(
          to right top,
          #92fe9d 0%,
          #fff 50%,
          #92fe9d 100%
        );
        -webkit-background-clip: text;
        background-clip: text;
        @include media-breakpoint-down(lg) {
          font-size: 3.2em;
        }
        @include media-breakpoint-down(md) {
          font-size: 2.8em;
        }
      }
      &__sub-title {
        font-weight: normal;
        @include media-breakpoint-down(md) {
          font-size: 1.2em;
        }
      }
    }
  }

  &::after {
    display: block;
    content: "";
    height: 8.75vw;
    margin-top: -1px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
    background-color: $primary;
  }
}

.footer {
  filter: drop-shadow(0 0 10px $shadow);

  &::before {
    display: block;
    content: "";
    height: 8.75vw;
    margin-bottom: -1px;
    clip-path: polygon(100% 0, 0 100%, 100% 100%, 100% 100%);
    background-color: $secondary;
  }

  &__wrapper {
    background: linear-gradient(
      to bottom,
      $secondary,
      $secondary-light,
      $secondary
    );
    &__content {
      padding: 2rem 1rem;

      p {
        margin-bottom: 0.6rem;
      }
      .slogan {
        font-size: 20px;
      }
    }
  }
}

.showcase {
  .carousel-indicators {
    @include media-breakpoint-down(lg) {
      position: static;
    }
  }
  &-item {
    cursor: pointer;
    max-width: $max-width;
    padding: 0 24px;
    margin: 0 auto;
    @include media-breakpoint-up(lg) {
      padding-bottom: 120px;
    }
    &-text {
      padding: 0 24px;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(
        to top,
        #fcc5e4 0%,
        #fda34b 15%,
        #ff7882 35%,
        #c8699e 52%,
        #7046aa 71%,
        #0c1db8 87%,
        #020f75 100%
      );
      @include media-breakpoint-down(lg) {
        position: static;
      }
    }
  }
}

.navScroll {
  background-color: $primary;
  box-shadow: 0 0 6px 0px $primary;
}

@mixin _navIcon {
  display: block;
  position: absolute;
  width: 1rem;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.navbar {
  transition: all 0.5s;
  --bs-navbar-color: rgba(255, 255, 255, 1);
  --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
  --bs-navbar-disabled-color: rgba(255, 255, 255, 0.55);
  .navbar-brand {
    max-width: calc(100% - 3rem);
    // background-size: 400% 400%;
    // background-image: linear-gradient(
    //   45deg,
    //   #ff0000,
    //   #ff8000,
    //   #fff200,
    //   #51ff00,
    //   #00d0ff,
    //   #9000ff,
    //   #ff008c
    // );
    // background-clip: text;
    // color: transparent;
    // animation: navbar-brand-text-color-gradient 20s ease alternate infinite;
  }
  .navbar-toggler {
    position: relative;
    width: 2rem;
    height: 2rem;
    padding: 0;
    border: none;
    .navbar-toggler-icon {
      top: 50%;
      left: 25%;
      background-image: none;
      // transform: translate3d(-50%, -50%, 0);

      @include _navIcon;

      &::before,
      &::after {
        @include _navIcon;
        content: "";
        top: 5px;
        left: 4px;
      }
      &::after {
        top: -5px;
      }
    }
  }

  .showBar .navbar-toggler .navbar-toggler-icon {
    background-color: transparent;
    &::before {
      top: 0;
      transform: rotate(45deg);
    }

    &::after {
      top: 0;
      transform: rotate(-45deg);
    }
  }
}

.index-module-0 {
  &__header {
    width: 16rem;
  }
}

.index-module-1 {
  background: url(/img/bg-1.webp) 50% no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 6rem;
  padding-top: 2rem;
  filter: drop-shadow(0 0 10px $shadow);

  &__content {
    transform: translate3d(0, 4rem, 0);
    &__block {
      min-height: 22.25rem;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-origin: content-box;
      background-color: #fff;
      // filter: drop-shadow(0 0 6px #f2f2f2);
      padding: 1rem 1.4rem;
      background-image: url(/img/undraw_developer_activity.svg);
      transition: filter 0.3s;
      &:hover {
        filter: drop-shadow(0 6px 24px rgba(0, 0, 0, 0.3));
        z-index: 99;
      }
      dl {
        background-color: rgba(255, 255, 255, 0.618);
      }
      &:first-child,
      &:last-child {
        background-color: $primary-light;
        // filter: none;
        background-image: url(/img/undraw_profile.svg);
        & dl {
          background-color: rgba(33, 150, 243, 0.618);
        }
      }
      &:first-child {
        background-image: url(/img/undraw_annotation.svg);
      }
    }
  }
}

.git-repo-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: stretch;
  &__item {
    color: inherit;
    text-decoration: none;
    padding: 12px;
    border: 1px solid #f0f0f0;
    // background-color: #f2f2f2;
    border-radius: 8px;
    margin: 8px;
    flex: 25%;
    overflow: hidden;
    transition: box-shadow 0.3s;
    @include media-breakpoint-down(lg) {
      flex: 50%;
    }
    @include media-breakpoint-down(md) {
      flex: 100%;
    }
    i {
      margin-right: 2px;
    }
    span {
      margin-right: 8px;
    }
    &:hover {
      box-shadow: 0 0 24px rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }
  }
}

.copyright {
  color: #6c757d;
  margin: 2em 0;

  tbody tr {
    border-left: 4px solid #00f7de;
    td:first-child {
      white-space: nowrap;
      padding: 0 0.4em;
      font-weight: 500;
    }
    td:last-child {
      word-break: break-all;
    }
  }
}

article {
  p {
    margin-bottom: 1.382em;
    // &:first-of-type {
    //   &::first-letter {
    //     color: blueviolet;
    //     font-size: 6em;
    //     float: left;
    //     line-height: 100%;
    //   }
    // }
  }

  img {
    max-width: 100%;
  }

  h1:before,
  h2:before,
  h3:before,
  h4:before,
  h5:before,
  h6:before {
    display: block;
    content: "";
    height: 3em;
    margin-top: -3em;
    visibility: hidden;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.8em 0 0.382em;
  }
}

main {
  word-break: break-all;
  text-align: justify;
}

.article-aside {
  top: 4rem;
}

.tableOfContents {
  padding-left: 1em;
  p {
    margin-bottom: 0;
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      font-size: 14px;
      line-height: 2em;
    }
    ul {
      list-style-type: none;
      padding-left: 0.6em;
      margin: 0;
      li {
        padding-left: 0.3em;
        border-left: 1px solid #777;
      }
    }
  }
}

.masked {
  background-image: -webkit-linear-gradient(left, red, blue, red, blue, red);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 200% 100%;
  animation: masked-animation 4s infinite linear;
}

@keyframes masked-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}

@keyframes navbar-brand-text-color-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
