//Here you can customize bootstrap
$primary: #448aff;
$primary-light: #2196f3;
$secondary: #f44336;

$shadow: rgba(0, 0, 0, 0.5);
$max-width: 1024px;

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";
html,
body {
  min-height: 100vh;
}

.container-lg {
  max-width: $max-width;
}

.header {
  //   width: 100%;
  height: auto;
  color: #fff;
  filter: drop-shadow(0 0 10px $shadow);
  margin-bottom: 1rem;

  &__wrapper {
    background: linear-gradient(to bottom, #448aff, #44aaff, $primary);

    &__content {
      margin: 0 auto;
      padding: 5rem 2rem 1rem;
      overflow: hidden;

      & h1 {
        font-size: 5em;

        @media (max-width: 767.98px) {
          font-size: 3.2rem;
        }
        @media (max-width: 575.98px) {
          font-size: 3.2rem;
        }
      }
    }
  }

  &::after {
    display: block;
    content: "";
    height: 8.75vw;
    margin-top: -1px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
    background-color: $primary;
  }
}

.footer {
  filter: drop-shadow(0 0 10px $shadow);

  &::before {
    display: block;
    content: "";
    height: 8.75vw;
    margin-bottom: -1px;
    clip-path: polygon(100% 0, 0 100%, 100% 100%, 100% 100%);
    background-color: $secondary;
  }

  &__wrapper {
    background: linear-gradient(to bottom, #f44336, #ff5555, $secondary);
    &__content {
      padding: 2rem 1rem;

      & p {
        line-height: 1;
        margin-bottom: 0.6rem;
      }
    }
  }
}

.showcase-item {
  max-width: $max-width;
  filter: drop-shadow(0 0 6px $primary-light);
  margin: 0 auto;
  @media (max-width: 767.98px) {
    filter: blur(1px);
    &-text {
      text-shadow: 0 0 2px white;
    }
  }
}

.navScroll {
  background-color: $primary;
  box-shadow: 0 0 6px 0px $primary;
}

@mixin _navIcon {
  display: block;
  position: absolute;
  width: 1rem;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.navbar {
  transition: all 0.5s;
  .navbar-toggler {
    position: relative;
    width: 2rem;
    height: 2rem;
    padding: 0;
    border: none;
    .navbar-toggler-icon {
      top: 50%;
      left: 25%;
      background-image: none;
      // transform: translate3d(-50%, -50%, 0);

      @include _navIcon;

      &:before,
      &::after {
        @include _navIcon;
        content: "";
        top: 5px;
        left: 4px;
      }
      &::after {
        top: -5px;
      }
    }
  }

  .showBar .navbar-toggler .navbar-toggler-icon {
    background-color: transparent;
    &::before {
      top: 0;
      transform: rotate(45deg);
    }

    &::after {
      top: 0;
      transform: rotate(-45deg);
    }
  }
}

.index-module-0 {
  &__header {
    width: 16rem;
  }
}

.index-module-1 {
  background: url(/img/bg-1.webp) 50% no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 6rem;
  padding-top: 2rem;
  filter: drop-shadow(0 0 10px $shadow);

  &__content {
    transform: translate3d(0, 4rem, 0);
    &__block {
      min-height: 22.25rem;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-origin: content-box;
      background-color: #fff;
      filter: drop-shadow(0 0 6px #f2f2f2);
      padding: 1rem 1.4rem;
      background-image: url(/img/undraw_developer_activity.svg);
      & dl {
        background-color: rgba(255, 255, 255, 0.618);
      }
      &:first-child,
      &:last-child {
        background-color: $primary-light;
        filter: none;
        background-image: url(/img/undraw_profile.svg);
        & dl {
          background-color: rgba(33, 150, 243, 0.618);
        }
      }

      &:first-child {
        background-image: url(/img/undraw_annotation.svg);
      }
    }
  }
}

.copyright {
  color: #6c757d;
  margin: 2em 0;

  & tbody tr {
    border-left: 4px solid #00f7de;
    & td:first-child {
      white-space: nowrap;
      padding: 0 0.4em;
      font-weight: 600;
    }
    & td:last-child {
      font-size: 14px;
      word-break: break-all;
    }
  }
}

article h1:before,
article h2:before,
article h3:before,
article h4:before,
article h5:before,
article h6:before {
  display: block;
  content: "";
  height: 3em;
  margin-top: -3em;
  visibility: hidden;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  margin: 0.8em 0 0.4em;
}

.article-aside {
  top: 4rem;
}

.tableOfContents {
  padding-left: 1em;
  & p {
    margin-bottom: 0;
  }
  & ul {
    padding: 0;
    margin: 0;
    & li {
      font-size: 14px;
      line-height: 2em;
    }
    & ul {
      list-style-type: none;
      padding-left: 0.6em;
      margin: 0;
      & li {
        padding-left: 0.3em;
        border-left: 1px solid #777;
      }
    }
  }
}

button {
  box-shadow: none;
}
